USE [IotShipmentProjectDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23.06.2022 14:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 23.06.2022 14:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SerialNumber] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedUserName] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Devices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 23.06.2022 14:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SurName] [nvarchar](max) NOT NULL,
	[IdentityNumber] [nvarchar](max) NOT NULL,
	[DrivingLicenceNumber] [nvarchar](max) NOT NULL,
	[DrivingLicenceType] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedUserName] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Drivers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IotCars]    Script Date: 23.06.2022 14:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IotCars](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DeviceId] [int] NOT NULL,
	[Brand] [nvarchar](max) NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[PlateNumber] [nvarchar](max) NOT NULL,
	[VehicleType] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedUserName] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.IotCars] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 23.06.2022 14:46:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IotCarId] [int] NOT NULL,
	[DriverId] [int] NOT NULL,
	[ShipmentNumber] [nvarchar](max) NOT NULL,
	[Product] [nvarchar](max) NOT NULL,
	[ShipmentState] [int] NOT NULL,
	[StartPoint] [nvarchar](max) NULL,
	[EndPoint] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedComputerName] [nvarchar](max) NULL,
	[CreatedUserName] [nvarchar](max) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedComputerName] [nvarchar](max) NULL,
	[ModifiedUserName] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Shipments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Devices] ON 

INSERT [dbo].[Devices] ([Id], [Name], [SerialNumber], [CreatedDate], [CreatedComputerName], [CreatedUserName], [ModifiedDate], [ModifiedComputerName], [ModifiedUserName], [Status]) VALUES (1, N'fasfasfas', N'asfasfasfassafsaf352', CAST(N'2022-06-23T14:33:51.000' AS DateTime), N'CANSRV', N'CANSRV\Administrator', CAST(N'2022-06-23T14:34:02.073' AS DateTime), N'CANSRV', N'CANSRV\Administrator', 1)
SET IDENTITY_INSERT [dbo].[Devices] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([Id], [Name], [SurName], [IdentityNumber], [DrivingLicenceNumber], [DrivingLicenceType], [CreatedDate], [CreatedComputerName], [CreatedUserName], [ModifiedDate], [ModifiedComputerName], [ModifiedUserName], [Status]) VALUES (1, N'sasfsaas525235', N'afasfa', N'asfaf', N'asfsasa', N'fsasasa', CAST(N'2022-06-23T14:43:21.000' AS DateTime), N'CANSRV', N'CANSRV\Administrator', CAST(N'2022-06-23T14:43:29.310' AS DateTime), N'CANSRV', N'CANSRV\Administrator', 1)
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[IotCars] ON 

INSERT [dbo].[IotCars] ([Id], [DeviceId], [Brand], [Model], [PlateNumber], [VehicleType], [CreatedDate], [CreatedComputerName], [CreatedUserName], [ModifiedDate], [ModifiedComputerName], [ModifiedUserName], [Status]) VALUES (1, 1, N'asfsaf', N'asfasafasfg5343', N'asfsasa', N'fsafsafsaasfa', CAST(N'2022-06-23T14:42:51.000' AS DateTime), N'CANSRV', N'CANSRV\Administrator', CAST(N'2022-06-23T14:43:01.327' AS DateTime), N'CANSRV', N'CANSRV\Administrator', 1)
SET IDENTITY_INSERT [dbo].[IotCars] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([Id], [IotCarId], [DriverId], [ShipmentNumber], [Product], [ShipmentState], [StartPoint], [EndPoint], [CreatedDate], [CreatedComputerName], [CreatedUserName], [ModifiedDate], [ModifiedComputerName], [ModifiedUserName], [Status]) VALUES (1, 1, 1, N'0ad3a031-1712-4e4d-b93e-a10a2615b76b', N'Karpuz', 1, N'Adana, Reşatbey, Seyhan/Adana, Türkiye', N'Tunuslu Mahmutpaşa 1.Sokak', CAST(N'2022-06-23T14:44:12.577' AS DateTime), N'CANSRV', N'CANSRV\Administrator', NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
ALTER TABLE [dbo].[IotCars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.IotCars_dbo.Devices_DeviceId] FOREIGN KEY([DeviceId])
REFERENCES [dbo].[Devices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IotCars] CHECK CONSTRAINT [FK_dbo.IotCars_dbo.Devices_DeviceId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.Drivers_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.Drivers_DriverId]
GO
ALTER TABLE [dbo].[Shipments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Shipments_dbo.IotCars_IotCarId] FOREIGN KEY([IotCarId])
REFERENCES [dbo].[IotCars] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Shipments] CHECK CONSTRAINT [FK_dbo.Shipments_dbo.IotCars_IotCarId]
GO
